
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-top: 200px;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin: 35px;
    gap: 20px;
}

