.product-name {
  text-align: center;
}

.product-card {
  width: 100%;
}

.product-card img {
  width: 250px;
  border-radius: 10%;
  margin-bottom: 20px;
  margin-bottom: 50px;
}

.product-card img:hover {
  transform: scale(1.2);
}

.product-card a {
  text-decoration: none;
}

.product-card a

.price {
  color: red;
}

p {
  margin: 15px 0;
  font-size: 15px;
}


