.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
}

.wrapper {
    margin-top: 35px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

h3 {
    text-align: center;
    margin-top: 50px;
    color: lightpink;
}

.notification {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-top: 200px;
}

img {
    align-items: center;
}

.infomation {
    margin-left: 10px;
}

.total-amount {
    text-align: left;
    margin-left: 100px;
    color: lightgreen;
}

