body {
  overflow-x: hidden;  
}

.brand-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.wrapper {
  padding-top: 100px;
  width: 100%;
  display: grid;
  justify-content: space-between;
}

.notification {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
}
  
.wrapper {
  grid-template-columns: repeat(2, 1fr) ;
  justify-content: space-between;
}

.logo-brand img {
  padding: 20px 0 0 50px;
  width: 300px;
  height: 250px;

}

@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr) ;
  }
}
