.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
}

.wrapper {
  margin: auto;
  margin-top: 50px;
  width: 100%;
  display: grid;
  justify-content: space-between;
}

.notification {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .logo-brand {
    text-align: center;
  }

  .logo-brand img {
    width: fit-content;
    object-fit: fill;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
